.biography-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.biography-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .biography-container {
    flex-direction: column;
    align-items: center;
}
