/* blogPost.css */
.blog-content {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .katex {
    font-size: 1.25em; 
  }

  /* Table Styles */
  .blog-content table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .blog-content th, .blog-content td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .blog-content th {
    background-color: #f2f2f2;
  }
  
  /* Image Styles */
  .blog-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  /* Task List Styles */
  .blog-content ul {
    list-style-type: disc;
  }
  
  .blog-content li {
    margin-bottom: 10px;
  }
  
  .blog-content input[type="checkbox"] {
    margin-right: 10px;
  }

  .blog-content a {
    color: #172b41; 
    text-decoration: underline; 
}

  .blog-content a:hover,
  .blog-content a:focus {
      color: #757575; 
      text-decoration: underline; 
  }

  
  /* Caption Styles */
  .caption {
    display: block; 
    font-size: smaller;
    text-align: center; 
    font-style: italic;
    color: #555;
    margin: 20x auto;
    padding-bottom: 3%;
  }

  .caption a {
    color: #555;
  }

  .caption a:hover {
    color: #8f8f8f;
  }