/* Katex styles */
.katex .eqn-num:before {
    content: " ";
}

@media (max-width: 430px) {
    .katex .tag {
        display: none;
    }
}

.katex-display {
    overflow: auto hidden;
}

.katex .vlist-t2 {
    margin-right: 0px;
}

.katex {
    font-size: var(--blog-katex-size);
}

.katex a:hover {
    text-decoration: none;
}

/* Global Caption Styles */
.caption {
    display: block;
    font-size: smaller;
    text-align: center;
    font-style: italic;
    margin: 16px auto;
}

.caption .katex {
    font-size: inherit;
}

.caption {
    color: var(--blog-caption-color);
}

/* Global Subtitle Styles */
.subtitle {
    display: block;
    font-size: smaller;
    text-align: left;
    font-style: italic;
    margin: 16px auto;
}

.subtitle {
    color: var(--blog-subtitle-color);
}

/* Temp Global Blockquote Styles */
blockquote {
    margin-block-start: 0;
    margin-inline-start: 0;
    display: block;
    border-radius: 5px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 3px 10px rgba(0, 0, 0, 0.08);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.9em;
    margin: 16px auto;
}

blockquote p:first-child {
    margin-top: 0.5em;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote::before {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85em;
    padding-top: 0.9rem;
}

/* Definition */
blockquote.definition::before {
    color: #31dd2e;
    content: "Definition";
}

blockquote.definition {
    background: rgba(174, 247, 126, 0.2);
    border-left: 5px solid #31dd2e;
}

/* Proof */
blockquote.proof::before {
    color: #31dd2e;
    content: "Proof";
}

blockquote.proof {
    background: rgba(174, 247, 126, 0.2);
    border-left: 5px solid #31dd2e;
}

/* Equation */
blockquote.equation::before {
    color: #486bd5;
    content: "Equation";
}

blockquote.equation {
    background: rgba(126, 174, 247, 0.2);
    border-left: 5px solid #486bd5;
    padding-bottom: 0.1em;
}

/* Theorem */
blockquote.theorem::before {
    color: #486bd5;
    content: "Theorem";
}

blockquote.theorem {
    background: rgba(126, 174, 247, 0.2);
    border-left: 5px solid #486bd5;
}

/* Lemma */
blockquote.lemma::before {
    color: #486bd5;
    content: "Lemma";
}

blockquote.lemma {
    background: rgba(126, 174, 247, 0.2);
    border-left: 5px solid #486bd5;
}

/* Important */
blockquote.important::before {
    color: #dd2e2e;
    content: "Important";
}

blockquote.important {
    background: rgba(247, 126, 126, 0.2);
    border-left: 5px solid #dd2e2e;
}

/* Note */
blockquote.note::before {
    color: lch(86 109.24 91.22);
    content: "Note";
}

blockquote.note {
    background: rgb(255 253 0 / 19%);
    border-left: 5px solid #ffea00;
}

/* Definition Styles in Math Mode */
[style*="--blog-blockquote-style: latex"] blockquote:not(.note) {
    margin-block-start: 0;
    margin-inline-start: 0;
    display: block;
    border-radius: 5px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 3px 10px rgba(0, 0, 0, 0.08);
    padding: 0.9rem 0.8rem;
    margin: 16px auto;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

[style*="--blog-blockquote-style: latex"] blockquote:not(.note) p:first-child {
    margin-top: 0;
    display: inline;
}

[style*="--blog-blockquote-style: latex"] blockquote:not(.note) p:last-child {
    display: inline;
}

[style*="--blog-blockquote-style: latex"] blockquote:not(.note)::before {
    font-weight: bold;
    text-transform: none;
    font-size: 1.1em;
    display: inline-block;
    padding-top: 0;
    font-style: normal;
}

[style*="--blog-blockquote-style: latex"] blockquote.definition {
    font-style: italic;
}

[style*="--blog-blockquote-style: latex"] blockquote.definition::before {
    content: attr(blockquote-definition-number) " ";
    color: inherit;
}

[style*="--blog-blockquote-style: latex"] blockquote.theorem {
    font-style: italic;
}

[style*="--blog-blockquote-style: latex"] blockquote.theorem::before {
    content: attr(blockquote-theorem-number) " ";
    color: inherit;
}

[style*="--blog-blockquote-style: latex"] blockquote.lemma {
    font-style: italic;
}

[style*="--blog-blockquote-style: latex"] blockquote.lemma::before {
    content: attr(blockquote-theorem-number) " ";
    color: inherit;
}

[style*="--blog-blockquote-style: latex"] blockquote.equation {
    font-style: normal;
}

[style*="--blog-blockquote-style: latex"] blockquote.equation::before {
    content: none;
}

[style*="--blog-blockquote-style: latex"] blockquote.problem {
    all: unset;
    font-style: normal;
}

[style*="--blog-blockquote-style: latex"] blockquote.problem::before {
    content: attr(blockquote-problem-number) " ";
    color: inherit;
}

[style*="--blog-blockquote-style: latex"] blockquote.proof {
    all: unset;
    position: relative;
    font-style: inherit;
    display: block;
}

[style*="--blog-blockquote-style: latex"] blockquote.proof::before {
    font-weight: inherit;
    font-style: italic;
    content: "Proof. ";
    color: inherit;
    margin-right: 0.3em;
}

[style*="--blog-blockquote-style: latex"]
    blockquote.proof:not(:has(p:last-child))::after {
    content: "□";
    font-style: normal;
    color: inherit;
    font-size: 2.2em;
    display: block;
    text-align: right;
    line-height: 0.75em;
}

[style*="--blog-blockquote-style: latex"] blockquote.proof p:last-child {
    display: inline-block;
    margin-right: 1.5em; /* Push text away from QED symbol */
    margin-bottom: 1rem;
}

[style*="--blog-blockquote-style: latex"] blockquote.proof p:last-child::after {
    content: "□";
    font-style: normal;
    color: inherit;
    font-size: 2.2em;
    position: absolute;
    right: 0rem;
    line-height: 0.75em;
}
