/* Disable TOC scrollbar */
.note-toc {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.note-toc::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* Get colors from Config */
.note-toc {
    font-family: var(--note-toc-font-family);
    color: var(--blog-text-color);
}

.note-toc a {
    color: var(--note-toc-color);
    text-decoration: var(--note-toc-underline);
}

.note-toc a:hover,
.note-toc a:focus {
    color: var(--note-toc-hover-color);
    text-decoration: underline;
}

.note-toc h1 {
    color: var(--blog-title-color);
}

.note-toc hr {
    color: var(--blog-title-color);
}

.note-toc code:not([class]):not(.code-blocks code) {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--blog-code-background-color);
    border-radius: 6px;
    color: var(--blog-code-color);
}

/* CSS Styles */

.note-toc a:focus {
    text-decoration: underline;
}

.note-toc a.active {
    font-weight: bold;
}

[style*="--blog-toc-marker: false"] .note-toc li::marker {
    content: none;
}

[style*="--blog-toc-marker: false"] .note-toc > ul {
    padding-left: 0em;
}
